<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UAS202102276</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
</head>
<body>
  <div class="wrapper">
  
    <div class="content-wrapper">
        <div class = "content-header">
            <div class="content-fluid">
                <div class="row mb-2 ">
                    <div class="col-sm-6">
                        <h1 class="m-0 ">202102257- Suhendri </h1>
                    </div>
                    <div class="col-sm-6 ">
                        <ol class="breadcrumb floar-sm right">
                            <li class="breadcrumb-item"> <a href="/dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Mahasiswa</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</section>
</div>
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
</body>

</html>